*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    box-sizing: border-box;
}
body{
    background-color: hsl(185, 41%, 84%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    color: hsl(183, 100%, 15%);
}

.container{
    margin-top: 4em;
    background-color: white;
    padding: 2em;
    width: 700px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.data-entry{
    display: flex;
    flex-direction: column;
    width: 290px;
}

.display-results{
    background-color: hsl(183, 100%, 15%);
    max-width: 700px;
    box-sizing: border-box;
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
}

.selectTip{
    margin-top: 2em;
}

.inputBtns-forms{
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(2, auto); 
    gap: .7rem;
    margin-top: 1em;
}

.inputBtns-forms > .btns{
    background-color: hsl(183, 100%, 15%);
    color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    border-radius: 5px;
    cursor: pointer;
}

.fieldInput{
    width: 90px;
    max-width: 100px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: hsl(189, 47%, 97%);
    font-weight: 700;
    font-family: "Space Mono", monospace;
    color: hsl(183, 100%, 15%);
    direction: rtl;
    text-align: right;
    padding-right: 10px;
}

.fieldInput::placeholder{
    text-align: center;  /* aligns placeholder to the left */
    /* direction:; */
}

.bill{
    padding: 1em 0;
    background-color: hsl(189, 47%, 97%);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: .4em;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    font-weight: 700;
    color: hsl(186, 14%, 43%);
    font-family: "Space Mono", monospace;
    
}




.people{
    padding: 1em 0;
    background-color: hsl(189, 47%, 97%);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: .4em;
    text-align: right;
    direction: rtl; 
    text-align: right; 
    padding-right: 10px; 
    box-sizing: border-box;
    font-weight: 700;
    color: hsl(186, 14%, 43%);
    font-family: "Space Mono", monospace;
}

.people-label{
    margin-top: 2em;
}

.bill-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}

.bill-icon{
    position: absolute;
    left: 10px;
    top: 70%;
    transform: translateY(-50%);
    pointer-events: none; 
}
.people-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}

.people-icon{
    position: absolute;
    left: 10px;
    top: 80%;
    transform: translateY(-50%);
    pointer-events: none; 
}


.tip-amount{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}  

.tip-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tip-txt h6{
    color: hsl(172, 67%, 45%);
}

.tip-amount h2{
    font-size: 2.3rem;
    margin: 0 auto;
    color: hsl(172, 67%, 45%);
}

.tip-output{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2.2em;
}  

.total-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.total-txt h6{
    color: hsl(172, 67%, 45%);
}

.tip-output h2{
    font-size: 2.3rem;
    margin: 0 auto;
    color: hsl(172, 67%, 45%);
}

.reset-btn{
    width: 100%;
    padding: .8em 0;
    font-weight: 700;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin-top: 7.5em;
    color: hsl(183, 100%, 15%);
    background-color: hsl(183, 87%, 22%);

}
.btns:hover{
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
}
.reset-btn:hover{
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
}

.error-msg{
    font-size: .65rem;
    position: absolute;
    right: 0;
    bottom: 55px;
    display: none;
}

/* computed styles */
.focusedInput{
    outline: 2px solid hsl(172, 67%, 45%);
}

.inputError{
    outline: 2px solid rgb(255, 49, 49);
}

.errorText{
    color: rgb(255, 49, 49);
    display: block;
}

.btns.activeButton{
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);

}

.btns.disabled {
    pointer-events: none;
    cursor: not-allowed;
}


