*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(185, 41%, 84%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.container{
    background-color: white;
    padding: 2em;
    width: 700px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.data-entry{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.display-results{
    background-color: hsl(183, 100%, 15%);
    max-width: 700px;
    box-sizing: border-box;
    height: 100px;
}

.inputBtns-forms{
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(2, auto); 
    gap: .7rem;
}

.inputBtns-forms > div{
    background-color: hsl(183, 100%, 15%);
    color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden; /* hides content that overflows */
    white-space: nowrap; /* prevents text from wrapping */
    text-overflow: ellipsis;
    border-radius: 5px;
}

.fieldInput{
    width: 90px;
    max-width: 100px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: hsl(185, 41%, 84%);
    text-align: center;

}

